* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.0625rem;
  font-family: "Lato", sans-serif;
  color: #000;
}

img {
  height: 100%;
  width: 100%;
  vertical-align: top;
}

a,
button {
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}

.view {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.arrow {
  display: block;
  font-size: 28px;
  position: relative;
  top: -27px;
  left: 187px;
}
.arrow:hover {
  color: #e2f3a8;
}

.par_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.bottom {
  margin-bottom: 48px;
}

header .header {
  display: flex;
  justify-content: space-between;
  padding: 44px 0;
}
header .navigation {
  display: flex;
}
header .navigation .icons {
  display: flex;
  justify-content: space-between;
  gap: 39px;
  align-items: end;
}
header .navigation .icons a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000;
  position: relative;
  cursor: pointer;
}
header .navigation .icons a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.1s ease-out;
}
header .navigation .icons a:hover::after {
  width: 100%;
}
header .navigation .search {
  padding-left: 80px;
}
header .navigation .search a:hover {
  color: #e2f3a8;
}

.container_inner {
  width: 90%;
  width: 1440px;
  margin: 0 auto 90px;
}
.container_inner .bg_header {
  background-image: url(../images/bg-image.jpg);
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 600px;
}
.container_inner .bg_header h1 {
  display: inline-block;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 96px;
  left: 173px;
  letter-spacing: 0.05em;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 50px;
}

.blog {
  margin-top: 686px;
}
.blog .item {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.blog img {
  width: 570px;
  height: 470px;
}
.blog .reverse {
  flex-direction: row-reverse;
  margin-bottom: 89px;
}
.blog .descroption {
  width: 450px;
  height: 300px;
  margin-top: 85px;
}
.blog .descroption h4 {
  margin: 22px 0 9px;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.posts {
  display: flex;
  flex-direction: column;
}
.posts img {
  width: 370px;
  height: 260px;
  margin-bottom: 24px;
}
.posts .card {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card_hor {
  display: flex;
  flex-direction: column;
  width: 370px;
}
.card_hor .par_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.card_hor h4 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 16px;
}
.card_hor .par_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: -24px;
}

h3 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.title p {
  display: block;
  position: relative;
  top: 6px;
  left: -43px;
}
.title p .arr_sm {
  left: 85px;
  top: -31px;
}

.popular {
  margin-top: 115px;
}
.popular .card {
  display: flex;
  gap: 30px;
}
.popular .card_hor {
  width: 570px;
}
.popular .card_hor img {
  padding-bottom: 21px;
}
.popular .card_hor h4 {
  font-size: 24px;
  margin-top: -3px;
  margin-bottom: 18px;
}
.popular .btn {
  display: block;
  margin: 52px auto 91px;
  width: 180px;
  height: 46px;
  background: #565656;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.popular .btn:hover {
  background: #FFF;
  color: #565656;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 230px;
}
.info .left {
  width: 570px;
}
.info .left .arrow {
  position: relative;
  top: -2px;
  left: -3px;
}
.info .left p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.info .right {
  width: 570px;
}
.info .right p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
.info .right p:first-child {
  margin-bottom: 30px;
}

footer {
  background-color: #F4F4F4;
  margin-top: 91px;
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}
footer .footer_info {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
footer .footer_info .footer_contacts {
  margin-bottom: -12px;
}
footer .footer_info p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin: -23px auto 36px;
}
footer .footer_info .footer_social {
  align-self: center;
  width: 269px;
  display: flex;
  justify-content: space-between;
}
footer .footer_info a {
  position: relative;
  top: -11px;
}
footer .footer_info a .fa-instagram,
footer .footer_info a .fa-linkedin-in,
footer .footer_info a .fa-facebook-f,
footer .footer_info a .fa-twitter {
  font-size: 28px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #565656;
  color: #565656;
}
footer .footer_info a .fa-instagram:hover,
footer .footer_info a .fa-linkedin-in:hover,
footer .footer_info a .fa-facebook-f:hover,
footer .footer_info a .fa-twitter:hover {
  background-color: #565656;
  color: #fff;
  cursor: url(../images/cursor.png), pointer;
}

.copyright {
  padding-bottom: 30px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}