* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	
}

body {
	background-color: #3399CC;
	border: 25px solid #2B81AC;
	color: #fff;
	font-family: 'Lucida Sans unicode', sans-serif;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;

}

.weather_list:hover {
	cursor: pointer;
}

.weather_list:hover>li {
	opacity: .25;
}

.weather_list>li:hover {
	opacity: 1;
	transition: opacity .1s;
}

header {
	padding-top: 41px;
	margin-bottom: 33px;
}

h1 {
	font-size: 21px;
	line-height: 25px;
	font-weight: 400;
}

h1 .wi {
	font-size: 27px;
	margin-left: 3px;
}

.weather_list {
	list-style: none;
	font-size: 0;
	padding: 3px;
	background-color: #fff;
}

.weather_list li {
	font-size: 22px;

	line-height: 21px;
	text-align: center;
	display: inline-block;
	width: calc(25% - 4px);
	margin: 2px;
	padding-top: 29px;
	padding-bottom: 36px;
}

.city_name {
	margin-bottom: 15px;
}

.temp {

	margin-right: 1px;
	font-size: 22px;
	vertical-align: middle;
}

.temp_icon {
	font-size: 42px;
}

.new_york {
	margin-left: -10px;
}

.tokyo {
	margin-left: 9px;
	vertical-align: top;
}

.tokyo_temp .temp {
	margin-left: -1px;
	margin-right: 14px;
}

.tokyo .wi {
	margin-left: 5px;
	}
	

.sydney {
	margin-left: 9px;
}

.sydney_temp .temp {
	margin-left: 8px;
	margin-right: -6px;
}


.weather_list li.w25 {
	width: calc(25% - 4px);
}

.weather_list li.w50 {
	width: calc(50% - 4px);
}

.weather_list li.w100 {
	width: calc(100% - 4px);
}

.weather_list li.blue-bg {
	background-color: #3399CC;
}

.weather_list li.lblue-bg {
	background-color: #33CCCC;
}

.weather_list li.lavanda-bg {
	background-color: #996699;
}

.weather_list li.red-bg {
	background-color: #C24747;
}

.weather_list li.orange-bg {
	background-color: #E2674A;
}

.weather_list li.yellow-bg {
	background-color: #FFCC66;
}

.weather_list li.lgreen-bg {
	background-color: #99CC99;
}

.weather_list li.khaki-bg {
	background-color: #669999;
}

.weather_list li.pink-bg {
	background-color: #CC6699;
}

.weather_list li.green-bg {
	background-color: #339966;
}

.weather_list li.violet-bg {
	background-color: #666699;
}

footer p {
	padding: 37px 0 119px 2px;
	font-size: 16px;
	line-height: 19px;
}