:root {
	--text-color: #544837;
	--orange: #FF9900;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

header {
	padding: 35px;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--text-color);
	font-size: 1rem;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	width: 90%;
}

.clrfix:after {
	content: "";
	display: block;
	clear: both;
	
}

#logo {
	float: left;
	margin-top: 8px;
}

.btn_wrap {
	float: right;
	margin-left: 30px;
	text-align: right;
}

.main_menu {
	float: right;
}

.main_menu ul {
	list-style: none;
	text-align: right;
}

.main_menu ul li {
	display: inline-block;
}

.main_menu ul li a {
	color: #2f281e;
	font-size: 14px;
	line-height: 28px;
	margin: 0 12px;
	text-decoration: none;
}

.main_menu ul li a:hover,
.main_menu ul li a:active {
	text-decoration: none;
	color: var(--orange);
}

.btn_wrap .btn:first-child {
	margin-right: 14px;
}

.btn {
	display: inline-block;
	cursor: pointer;
	padding: 0 41px;
	font-size: 16px;
	height: 53px;
	line-height: 53px;
	font-weight: 700;
	border-radius: 4px;
	transition: all .2s ease;
}

header .btn {
	padding: 0 24px;
	height: 46px;
	line-height: 46px;
	font-weight: 600;
}

.btn.white {
	background-color: white;
	color: var(--text-color);
	border: 1px solid #BCD0E5;
}

.btn.orange {
	background-color: #FF9900;
	color: white;
	border: 1px solid #BCD0E5;
}