* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #070707;
	font-size: 18px;
	line-height: 25px;
}

.container {
	width: 90%;
	max-width: 970px;
	margin: 0 auto;
}

#header {
	height: 80px;
	line-height: 80px;
	/* line-height: 80px; для вирівнювання тексту по вертикалі */
}

#header .container {
	border-bottom: 1px solid #828282;
}

.main_menu ul {
	list-style: none;
	text-align: center;
}

.gray_second grey .images {
	display: flex;
	flex-direction: column;
	width: 970px;
	height: 540px;
}

li {
	list-style: none;
}

.main_menu ul li {
	display: inline-block;
	margin: 0 19px;
}

.main_menu ul li a {
	text-decoration: none;
	color: #828282;
}
.main_menu ul li a:hover {
	color: #070707;
}

h1 {
	font-size: 48px;
	line-height: 65px;
	padding: 15px 0;
}

.first_screen .container img {
	padding-top: 28px;
}

h2 {
	font-size: 34px;
	text-align: center;
	padding-top: 104px;
	padding-bottom: 26px;
}

.about p {
  margin-top: 28px;
	margin-bottom: 28px;
}

.grey {
background: #f6f6f6;
}

.about_me .container p {
	
	padding-bottom: px;
	text-align: center;
	
}

.skills {
	text-align: center;
}

.programms {
	display: flex;
	justify-content: space-around;
}

.gray_second {
	text-align: center;
}

.icons_url {
	width: 310px;
	height: 40px;
	margin: 0 320px;
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 60px;
}

.social_group img {
	width: 40px;
	height: 40px;
}

.social p {
	line-height: 19px;
	font-size: 14px;
	font-weight: 400;
	color: #828282;
	display: flex;
	text-align: center;
	justify-content: space-around;
}

.button {
	display: inline-block;
	margin-left: 380px;
	height: 42px;
	padding: 0 20px;
	line-height: 38px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 21px;
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: 600;
	border: 2px solid #333;
	font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
	background-color: #fff;
	color: #333;
}