* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 28px;
	font-size: 16px;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.items {
	display: flex;
	justify-content: space-between;
	border: 2px solid blue;
}

.items li {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
background-color: red;
}

.item1_list {
	width: 120px;
	display: flex;
	justify-content: space-between;
}

.item1_list .item1_list_item {
	background-color: yellow;
	width: 20px;
	height: 20px;
	
	display: flex;
}

.item1 .item1_list2 .item1_list_item2 {
	background-color: green;
	width: 20px;
	height: 20px;
}

.item1_list2 {
	width: 120px;
display: flex;
flex-direction: column;
}